/*------------TAGS--------------*/
body{

margin: 0;
padding: 0;
border: 0;

}

/*------------NAV--------------*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li a{
  display: block;
  color: #222688;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li{
  margin: 0;
}
a {
  position: relative;
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2vw;
}

a::before, a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #f11f35;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

a::before {
  top: 0;
}

a::after {
  bottom: 0;
}

a:hover::before, a:hover::after {
  transform-origin: center left;
  transform: scaleX(1);
}


/*------------COLORS--------------*/


.red{
  color: #A71B28;
}
.darkred{
  color: #8C182D;
}
.black{
  color: #111226;
}
.blue{
  color: #D5DAF2;
}
.darkblue{
  color: #272F59;
}
.backred{
  background-color: #A71B28;
}
.backdarkred{
  background-color: #8C182D;
}
.backblack{

  background-color: #111226;
}
.backblue{
  background-color: #000080;
}
.backdarkblue{
  background-color: #272F59;
}
.backblack{
  background-color: #000000
}
.backlightgrey{
  background-color: 	#D3D3D3;
}






/*-----------Flex-Box-----------*/



.first-parent{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content:flex-start;
    align-items:center;
    justify-content: flex-end;
    width: 100%;
}

.second-parent{
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: nowrap;
    align-content:flex-start;
    align-items:flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 20px;
}



/*------------WIDHTS-------------*/


.full{
  width: 100%;
}
.half{
  width: 50%;
}
.third{
  width: 33%;
}
.quarter{
  width: 25%;
}
.tenth{
  width: 10%;
}

/*-----------Padding--------------------*/

.padding-Left-10{
  padding-left: 10%;
}
.padding-bottton-10{
  padding-bottom: 10%;
}
.padding-top-10{
  padding-top: 5%;
}
.padding-right-10{
  padding-right: 10%;
}
.padding-10{
  padding: 10%;
}
